*{
    font-family: Poppins;
    color: #222;
}

body{
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
        padding-top: 10vh; /* Adjust this value to match the height of your header */
    
}
header {
    font-family: Montserrat;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    top: 0;
    position: fixed; /* Change position to fixed */ /* Align to the top of the viewport */
    width: 100%; /* Make the header span the entire width of the viewport */
    background-color: white; /* Optional: Add a background color */
    z-index: 1000; /* Optional: Adjust z-index to ensure the header is above other content */
    border-bottom: 1px solid black;
}

header ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 10vw;
    width: 30vw;
}
header ul li a{
    text-decoration:none;
    color: black;   
}

header h1{
    margin-left: 5vw;
}

.container{
    display: flex;
    flex-direction: row;
    height: 90vh;
    width: 100vw;
}
.form{
    width: 35vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form-content{
    display: flex;
    flex-direction: column;
    width: 20vw;
    border: 1px solid black;
    border-radius: 40px;
    padding-left: 40px;
    padding-right: 40px;
    height: 35vh;
    align-items: flex-start;
    justify-content: space-evenly;
}
.inputs{
    width: 20vw;
    height: 4vh;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid black;
}
#submit{
    padding: 10px;
    width: 5vw;
    border-radius: 30px;
    background-color: transparent;
    border: 1px solid black;
    cursor: pointer;
    transition: color 0.5s ease, background-color 0.5s ease;
}
#submit:hover{
    color: white;
    background-color: black;
    transition: color 0.5s ease, background-color 0.5s ease;
}
.description{
    padding: 0px;
    margin: 0px;
    background-image: url(background.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width:65vw;
    height: 90vh;
    backdrop-filter:5px;
}
#about{
    background-color: white;
    color: black;
    width: 28vw;
    height: 38vh;
    padding: 20px;
    border-radius: 40px;
    margin-right:500px ;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#contact{
    background-color: white;
    color: black;
    width: 15vw;
    height: 20vh;
    padding: 20px;
    border-radius: 40px;
    margin-left:500px ;
}
#about h1{
    font-weight: bold;
    margin-bottom: -10px;
    
}
#about h3{
    font-weight: 500;
    margin-left: 30px;
    font-style: italic;
}
#contact h1{
    font-weight: bold;
    margin-left: 30px;
}
#contact h3{
    font-weight:500;
    margin-left: 30px;

}
main{
    margin-top: 100px;
    display: flex;
    width: 100vw;
    height:auto;
    flex-direction: column;
}
main h1{
    font-size: 50px;
    margin-left: 60px;
}
main h3{
    color: gray;
    font-size: 20px;
    margin-left: 60px;
    font-weight: 600;
    margin-top: -40px;
}
